* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a:visited,
a:link {
  color: black;
  text-decoration: none;
}

.banner {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.banner__image {
  height: 20vh;
  width: 100%;
  object-fit: cover;
  object-position: 2rem -8rem;
}
.banner__title {
  position: absolute;
  color: rgba(221, 225, 223, 0.845);
  font-size: 3rem;
}

@media screen and (max-width: 800px) {
  .banner__title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 800px) {
  .banner__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .banner__title {
    font-size: 1.5rem;
  }
}
.button {
  border: 0.0625rem solid black;
  border-radius: 0.35rem;
  box-shadow: 1px 1px 4px -3px gray;
  cursor: pointer;
}
.button--sm {
  width: 6rem;
  padding: 0.125rem;
  font-size: 1.2rem;
}
.button--md {
  width: 9rem;
  padding: 0.25rem;
  font-size: 0.9rem;
}
.button--lg {
  width: 12rem;
  padding: 0.375rem;
  font-size: 1rem;
}
.button--add {
  background-image: linear-gradient(127deg, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255) 65%);
  border-color: rgb(0, 0, 255);
  color: rgb(0, 0, 255);
  transition: all 300ms;
}
.button--add:hover, .button--add:active {
  background-image: linear-gradient(127deg, rgb(0, 0, 138), rgb(0, 0, 255), rgb(0, 0, 138) 65%);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.button--remove {
  background-image: linear-gradient(127deg, white, white, white 65%);
  border-color: red;
  color: red;
  transition: all 300ms;
}
.button--remove:hover, .button--remove:active {
  background-image: linear-gradient(127deg, darkred, red, darkred 65%);
  border-color: white;
  color: white;
}
.button--disabled {
  background-image: linear-gradient(127deg, white, white, white 65%);
  border-color: gray;
  color: gray;
  transition: all 300ms;
  cursor: default;
}
.button--disabled:hover, .button--disabled:active {
  background-image: linear-gradient(127deg, gray, lightgray, gray 65%);
  border-color: white;
  color: white;
}

@media screen and (max-width: 815px) {
  .button--sm {
    width: 4.2rem;
  }
}
@media screen and (max-width: 680px) {
  .button--sm {
    width: 4rem;
    height: 3rem;
  }
  .card__counter {
    height: 3rem;
  }
}
.card {
  padding: 1.7vw;
  background-color: rgb(102, 102, 102);
  width: 46.6vw;
}
.card div {
  display: flex;
  gap: 0.5vw;
}
.card--product {
  display: flex;
  flex-direction: column;
  height: 80vh;
  border: 1px solid #ddd;
  border-radius: 8px;
  align-items: center;
  gap: 2vh;
}
.card__image {
  max-width: 100%;
  max-height: 70%;
  object-fit: cover;
}
.card .card--image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 20vh;
  max-height: 70%;
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
}
.card__title {
  color: green;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0;
}
.card__text {
  font-size: 1.3rem;
}
.card__price {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2;
}
.card__price::before {
  content: "$ ";
}
.card__counter {
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  padding: 1rem;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .card {
    width: 100%;
    max-width: none;
  }
}
@media screen and (max-width: 1612) {
  .card__image {
    min-height: 15vh;
  }
}
body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  gap: 1vw;
  padding-top: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 100%;
  background-color: rgb(51, 51, 51);
}

.about-us--body {
  padding-top: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.footer {
  grid-area: footer;
  height: 10vh;
  padding: 1vw;
  border-radius: 8px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(182, 182, 182);
  border: 1px solid #fffdfd;
}
.footer__icons {
  height: 1vh;
  display: flex;
  gap: 1vw;
  border: none;
}

@media screen and (max-width: 600px) {
  .footer {
    font-size: 1.3rem;
    justify-content: center;
  }
}
@media screen and (max-width: 397px) {
  .footer {
    font-size: 1.2rem;
  }
}
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: space-between;
}
.header__logo {
  height: 8vh;
}

.navbar--menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

@media screen and (max-width: 875px) {
  .header {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 775px) {
  .header {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 660px) {
  .header__title {
    font-size: 3rem;
  }
  .menu-burger {
    cursor: pointer;
    border: 1px solid white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }
  .menu {
    list-style: none;
    padding: 0;
    display: none;
  }
  .menu li {
    margin: 10px 0;
    font-size: 1.4rem;
  }
  .menu a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
  }
  .content {
    padding: 20px;
  }
}
.main {
  grid-area: main;
}
.main .section {
  width: 100%;
}
.main .section--title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 15vh;
}
.main .section__title {
  text-align: center;
}
.main .section--search-container {
  display: flex;
  align-items: center;
  height: 15vh;
}
.main .section--search-bar {
  position: relative;
}
.main .section__search-input {
  padding: 1.3rem;
  padding-right: 1rem;
  border-radius: 5px 0 0 5px;
  border: 0;
  outline: none;
  font-size: 1.4rem;
}
.main .section__search-btn {
  background-color: crimson;
  padding: 1rem;
  position: absolute;
  border: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 0 5px 5px 0;
  color: #fff;
  cursor: pointer;
}
.main .section__search-btn:hover {
  background-color: darkred;
}
.main .section--banner {
  overflow: hidden;
  max-height: 100%;
  max-width: 80vw;
  position: relative;
  margin: auto;
  text-align: center;
}
.main .section--products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
}

@media screen and (max-width: 1200px) {
  .section__title {
    font-size: 2.8rem;
  }
}
.about-us--main {
  height: 73.5vh;
  min-height: 73.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
}
.about-us--section {
  background: url("/proyecto-integrador/images/gallery/background-about-us.jpg") no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
  height: 65vh;
}
.about-us--container {
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;
}
.about-us__title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}
.about-us__text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}
.about-us--skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width: 1200px) {
  .about-us--container {
    padding: 70px;
  }
}
@media screen and (max-width: 1000px) {
  .about-us--section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .about-us--container {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .about-us--section {
    padding: 0;
  }
  .about-us--container {
    padding: 50px;
  }
}
@media screen and (max-width: 350px) {
  .about-us--section {
    width: 100%;
  }
  .about-us--container {
    width: 100%;
  }
}
.--contact {
  height: 73.5vh;
  width: 100%;
}

#contact {
  background: url("/proyecto-integrador/images/gallery/background-contact-us.jpg") no-repeat center;
  background-size: cover;
  padding: 1rem 0;
  height: 73.5vh;
  text-align: center;
  color: white;
}
#contact .contact--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-right: 7vw;
}
#contact .underline {
  width: 100px;
  margin: 30px auto;
  height: 5px;
  background: rgba(18, 215, 34, 0.9);
}
#contact .contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
}
#contact .contact-form .contact-form-text,
#contact .contact-form .contact-person-name,
#contact .contact-form .contact-e-mail,
#contact .contact-form .contact-phone-number {
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 20px 40px;
  background: rgb(0, 0, 0);
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.9);
}
#contact .contact-form .contact-form-text:hover,
#contact .contact-form .contact-person-name:hover,
#contact .contact-form .contact-e-mail:hover,
#contact .contact-form .contact-phone-number:hover {
  border: 1px solid rgba(18, 215, 34, 0.9);
}
#contact .contact-form textarea.contact-form-text {
  height: 120px;
  overflow: scroll;
}
#contact .contact-form .contact__validate:focus:valid {
  border: none;
  outline: 2px solid rgb(5, 212, 5);
}
#contact .contact-form .contact__validate:focus:invalid {
  border: none;
  outline: 2px solid red;
}

.add-product-body {
  height: 100vh;
}

.add-product {
  height: 71.5vh;
  margin: auto;
  border: 5px solid black;
  border-radius: 5px;
  width: 40vw;
}
.add-product--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 0.2rem;
}
.add-product__validate:focus:valid {
  border: none;
  outline: 2px solid rgb(5, 212, 5);
}
.add-product__validate:focus:invalid {
  border: none;
  outline: 2px solid red;
}/*# sourceMappingURL=main.css.map */