@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.add-product-body {
    height: 100vh;
}

.add-product {
    height: 71.5vh;
    margin: auto;
    border: 5px solid black;
    border-radius: 5px;
    width: 40vw;

    &--form {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 0.2rem;
        font-size: 0.9rem;
    }

    .add-product--form input[type=text],
    input[type=number] {
        width: 10vw;
    }

    .button--save {
        font-size: 1.2rem;
    }


    &__validate:focus:valid {
        border: none;
        outline: 2px solid rgb(5, 212, 5);
    }

    &__validate:focus:invalid {
        border: none;
        outline: 2px solid red;
    }

}

@media screen and (max-width: 920px) {
    .add-product {
            width: 60vw;
}
}

@media screen and (max-width: 518px) {
.add-product--form input[type=file]{
        width: 35vw;
    }
}

@media screen and (max-width: 360px) {
    textarea{
        width: 50vw;
    }
}