@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.--contact {
    height: 73.5vh;
    width: 100%;
}

#contact {
    background: url("/proyecto-integrador/images/gallery/background-contact-us.jpg") no-repeat center;
    background-size: cover;
    padding: 1rem 0;
    height: 73.5vh;
    text-align: center;
    color: white;

    .contact--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-right: 7vw;
    }

    .underline {
        width: 100px;
        margin: 30px auto;
        height: 5px;
        background: var.$greenContact;
    }

    .contact-form {
        max-width: 600px;
        margin: auto;
        padding: 0 10px;

        .contact-form-text,
        .contact-person-name,
        .contact-e-mail,
        .contact-phone-number {
            display: block;
            width: 100%;
            margin: 15px 0;
            padding: 20px 40px;
            background: var.$blackContact;
            outline: none;
            border: none;
            color: var.$whiteContact;

            &:hover {
                border: 1px solid var.$greenContact;
            }
        }

        textarea.contact-form-text {
            height: 120px;
            overflow: scroll;
        }

        .contact__validate:focus:valid {
            border: none;
            outline: 2px solid rgb(5, 212, 5);
        }

        .contact__validate:focus:invalid {
            border: none;
            outline: 2px solid red;
        }
    }
}