@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

$_padding: 2vw;

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    gap: 1vw;

    padding-top: $_padding;
    padding-left: $_padding;
    padding-right: $_padding;
    width: 100%;
    background-color: var.$primaryBackgroundColor;
}

.about-us--body {
    padding-top: $_padding;
    padding-left: $_padding;
    padding-right: $_padding;
}