@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: space-between;
    &__logo {
        height: 8vh;
    }

}

.navbar__menu{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


h1 {
    color: red;
}