@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.main {
    grid-area: main;

    .section {
        width: 100%;

        &--banner {
            overflow: hidden;
            max-height: 100%;
            max-width: 80vw;
            position: relative; 
            margin: auto;
            text-align: center;
        }

        &--products {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2vw;
            
        }
    }
}
